/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --grey-swars: #2C2B2C;
    --darkgrey-swars: #333;
    --extrawhite: #EDEEE9;
    --yellow-swars: #dcc91d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EDEEE9;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #2C2B2C;
}

main {
    font-size: 1.5rem;
}

/*#region Header ------------------------------------------------------------------------------- */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--extrawhite);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--darkgrey-swars); 
}

.logo {
    margin-top: 0.5rem;
}

.logo a {
    display: block;
    text-align: center;

}

.header a img {
    max-width: 50%;
    max-height: 100px;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-self: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

.header li a:hover {
    color: var(--yellow-swars);
    font-size: 1.80rem;
}

/*#endregion */


/*#region Footer ------------------------------------------------------------------------------- */
.footer{
    margin-top: 2rem;
    background-color: #333; 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}
 
/*#endregion*/

 /*#region About titles ------------------------------------------------------------------------ */
 #about-us-page{
    display: flex;
    flex-direction: column;
}

.about-project{
    height: 560px;
}

.about-project h1 {
    padding: 0 0 0 1.5rem;
}

.pre-title,
.text-about {
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: justify;
}

.line-about{
    position: relative;
    height: 4px;
    width: 40%;
    margin: 1rem 1rem 2rem 1.5rem;
    background-color: black;
}

#api-info .line-about,
#improvments .line-about,
#acknowledgments .line-about{
    background-color: white;
}

/*#endregion*/

/*#region Technologies part ------------------------------------------------------------------------ */
#technologies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C2B2C;
    width: 100%;
    padding: 2rem;
    height: 156px;
}

.technology-icons {
    display: flex;
    gap: 20px;
}

#technologies div label{
    padding: 0.5rem;
}

#technologies div label i {
    padding: 0.5rem;
}

.fa-html5{
    color: #e34c26;
}

.fa-css3-alt{
    color: #264de4;
}

.fa-js{
    color: #F0DB4F;
}

/*#endregion*/

/*#region Api-info part ------------------------------------------------------------------------ */
#api-info div.content {
    display: flex;
}

#api-info img {
    max-width: 50%; 
}

#api-info{
    background-color: black;
}

/*#endregion*/

/*#region General ------------------------------------------------------------------------ */

#purpose{
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-38_d0dbbfb4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#challenges{
    background-image: url(https://ingyen-hatterkep.hu/hatterkepek_nagyfelbontasu/darth-vader-hatterkep-54411.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#improvments{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/054/220/284/large/alfie-astley-oldfrontendclone.jpg?1664031384);
    background-repeat: no-repeat;
    background-size: cover;
}

#acknowledgments{
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*#endregion*/

@media only screen and (max-width: 1000px) {

    .header {
        font-size: 1.5rem;
    }
    
    .header nav {
        flex: 0 0 100%;
    }

    div.logo {
        display: none;
    }

    .about-project h1 {
        padding: 0 1.5rem; 
    }

    .pre-title,
    .text-about {
        padding: 1rem; 
    }

    .line-about {
        margin: 1rem 0 2rem;
    }

    #api-info.about-project {
        height: auto; 
        padding: 1rem; 
        max-height: none;
    }

    .line-about{
        width: 80%;
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    #about-us-page p{
        font-size: 1.25rem;
    }

    .about-project h1 {
        font-size: 1.75rem;
    }

    #technologies div label i {
        display: none;
    }

    #purpose{
        background-image: none;
        background-color:  #1f1e1f;;
    }
    
    #challenges{
        background-image: none;
        background-color: #2f429f;
    }
    
    #improvments{
        background-image: none;
        background-color: #28273e;
    }
    
    #acknowledgments{
        background-image: none;
        background-color: black;
    }

    #api-info img {
        display: none; 
    }
}