/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root {
    --grey-swars: #2C2B2C;
    --darkgrey-swars: #333;
    --extrawhite: #EDEEE9;
    --yellow-swars: #dcc91d;
    --denim-blue: #6F8FAF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--extrawhite);
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: var(--grey-swars);
}

main {
    font-size: 1.5rem;
}

/*#region Header ------------------------------------------------------------------------------- */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--extrawhite);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--darkgrey-swars); 
}

.logo {
    margin-top: 0.5rem;
}

.logo a {
    display: block;
    text-align: center;

}

.header a img {
    max-width: 50%;
    max-height: 100px;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-self: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

.header li a:hover {
    color: var(--yellow-swars);
    font-size: 1.80rem;
}

/*#endregion */

/*#region Footer ------------------------------------------------------------------------------- */

.footer{
    margin-top: 2rem;
    background-color: var(--darkgrey-swars); 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}

/*#endregion*/
 
/*#region General ------------------------------------------------------------------------------- */

h1 {
    padding-left: 1rem;
    padding-top: 1rem;
}

#table-game {
    flex-direction: column;
    margin: 1rem;
    padding: 1.5rem;
    border: 2px solid black;
    background-color: var(--darkgrey-swars);
}

strong, label {
    color: var(--yellow-swars);
}

p,
span,
div {
    color: var(--extrawhite);
}

#gameplay {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*#endregion*/

/*#region Clues block ------------------------------------------------------------------------------- */

#game-clues {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 250px; 
    word-wrap: break-word;
    align-items: center;
    margin-left: 1.5rem;
}

#game-clues ul {
    margin-top: 0.5rem;
}

/*#endregion*/

/*#region Time and attempts block ------------------------------------------------------------------- */

#info-to-play{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

section#tries {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#tries #attempts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    padding: 2rem;
    margin: 0.5rem;
    background-color: var(--yellow-swars);
    border: 1px solid var(--extrawhite);
    border-radius: 50px;
    font-weight: bold;
    color: var(--darkgrey-swars);
    font-size: 2rem;
}

.time,
#get-clues {
    margin-bottom: 1rem;
}

.timeOut {
    color: rgb(217, 62, 62);
    font-weight: bold;
}

/*#endregion*/

/*#region Card and answer block ------------------------------------------------------------------- */

#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answer .unknown{
    width: 320px;
    height: 385px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: var(--grey-swars);
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#answer img {
    height: 100%;
}

#answer .unknown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(#edeee962);

    animation: gradientAnimation 5s linear infinite;
  }

  #answer label {
    margin-top: 1rem;
}

#answer input {
    width: 100%;
    margin: 1rem;
    padding: 0.25rem;
    color: black;
    font-size: 1rem;
}

@keyframes gradientAnimation {
    0% {
        background-color: #edeee900;
    }
    50% {
        background-color: #fdfdfd3d;
    }
    100% {
        background-color: #edeee900;
    }
  }

/*#endregion*/
  
/*#region Buttons --------------------------------------------------------------------------------- */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 48px;
    color: var(--yellow-swars);
    font-weight: bold;
    font-size: 1.25rem;
    background-color: var(--denim-blue);
    border: 1px solid var(--extrawhite);
    border-radius: 25px;
    padding: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #98adc2;
}

button#get-clues {
    width: 200px;
}

button#reset {
    margin-left: 2rem;
    margin-top: 0.5rem;
}

button.pressToStart {
    width: 160px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/*#endregion*/

/*#region Message popup ---------------------------------------------------------------------------- */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 35rem;
    padding: 20px;
    background-color: var(--darkgrey-swars);
    border: 4px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup h2 {
    color: rgb(217, 62, 62);
}
.popup-content {
    position: relative;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(217, 62, 62);
}

/*#endregion*/

@media only screen and (max-width: 1000px) {

    .header {
        font-size: 1.5rem;
    }
    
    .header nav {
        flex: 0 0 100%;
    }

    div.logo {
        display: none;
    }

    .footer p{
        font-size: 0.8rem; 
    }

    h1 {
       font-size: 1.75rem;
    }

    p,
    span,
    label,
    button,
    li {
        font-size: 1rem;
    }

    section#tries #attempts {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        padding: 1.5rem;
    }
    
    #answer .unknown{
        width: 220px;
        height: 285px;
    }

    #answer input {
        width: 90%;
    }

    button {
        width: 90px;
        height: 40px;
        font-size: 1rem;
    }
    
    button#get-clues {
        width: 160px;
    }

    .popup {
        width: 15rem;
    }
    
    .popup h2 {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 750px) {
    #gameplay {
        flex-direction: column; 
        align-items: center; 
    }
}

@media only screen and (min-width: 1500px) {
    #game-clues {
        width: 600px; 
    }
}