/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Color pallete: 

Tricorn black: #2C2B2C
Extra white: #EDEEE9
Rookwood dark: #492728
Bitter chocolate: #50433f
Denim:#6F8FAF

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EDEEE9;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #2C2B2C;
}

main {
    font-size: 1.5rem;
}

/* HEADER */

.header {
    display: flex;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #333; 
}

.logo {
    width: 9%;
    display: flex;
    justify-content: center;
    margin-right: 8rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.header a img {
    max-width: 100%;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

                        /*FOOTER*/
.footer{
    margin-top: 2rem;
    background-color: #333; 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}
 

 /* LOG IN / SIGN IN SCREEN */

 #login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-page h1#title{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#login-page .form {
    display: flex;
    flex-direction: column;
}

.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
    border: 1px solid #EDEEE9;
}

.form h1 {
    font-size: 36px;
    font-weight: 600;
    color: #EDEEE9; 
    text-align: center;
    margin: 0;
}

form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    color: #2C2B2C;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #6F8FAF;
}

.field input:focus{
    border-bottom-width: 2px;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #6F8FAF;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #EDEEE9;
    background-color: #6F8FAF;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    background-color: #98aabc;
}

.form-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

#demo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 1rem;
    padding: 0.2rem;
    font-size: 16px;
    border: 1px solid #EDEEE9;
    background-color: rgba(255, 255, 255, 0.121);
}

#demo-login strong {
    color: #6F8FAF;
}

.hide {
    display: none !important;
}

#message-container {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
    border: 1px solid #EDEEE9;
}

#wrong-container {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

#wrong-container p{
    font-size: 20px;
    color: rgb(217, 62, 62);
    align-items: center;
    font-weight: bold;
}

#loading-spinner{
    padding-top: 1rem;
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: center;
}

#loading-spinner::after {
    content: "";
    width: 45px;
    height: 45px;
    border: 15px solid #EDEEE9;
    border-top-color: rgba(255, 255, 255, 0.121);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to {transform: rotate(1turn);}
}

@media only screen and (max-width: 1000px) {

    .header {
        font-size: 1.5rem;
    }
    
    .header nav {
        flex: 0 0 100%;
    }

    div.logo {
        display: none;
    }
}