/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --grey-swars: #2C2B2C;
    --darkgrey-swars: #333;
    --extrawhite: #EDEEE9;
    --yellow-swars: #dcc91d;
    --blue-denim: #6F8FAF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--extrawhite);
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: var(--grey-swars);
}

main {
    font-size: 1.5rem;
}

/*#region Header ------------------------------------------------------------------------------- */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--extrawhite);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--darkgrey-swars); 
}

.logo {
    margin-top: 0.5rem;
}

.logo a {
    display: block;
    text-align: center;

}

.header a img {
    max-width: 50%;
    max-height: 100px;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-self: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

.header li a:hover {
    color: var(--yellow-swars);
    font-size: 1.80rem;
}

/*#endregion */

/*#region Footer ------------------------------------------------------------------------------- */
.footer{
    margin-top: 2rem;
    background-color: var(--darkgrey-swars); 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}
/*#endregion*/

/*#region General ------------------------------------------------------------------------------- */
 #login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-page h1#title{
    margin: 2rem;
}

.hide {
    display: none !important;
}

/*#endregion*/

/*#region General Form --------------------------------------------------------------------------- */
.form {
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
    border: 1px solid var(--extrawhite);
}

.form h2 {
    color: var(--extrawhite); 
    text-align: center;
    margin: 0;
}

.form-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

/*#endregion*/

/*#region Button and Input ---------------------------------------------------------------------- */
form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    color: var(--grey-swars);
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid var(--blue-denim);
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--blue-denim);
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: var(--extrawhite);
    background-color: var(--blue-denim);
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    background-color: #98aabc;
}

/*#endregion*/

/*#region Demo datails -------------------------------------------------------------------------- */
#demo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 1rem;
    padding: 0.2rem;
    font-size: 16px;
    border: 1px solid var(--extrawhite);
    background-color: rgba(255, 255, 255, 0.121);
}

#demo-login strong {
    color: var(--blue-denim);
}

/*#endregion*/

/*#region Logged Message ------------------------------------------------------------------------- */
#message-container {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
    border: 1px solid var(--extrawhite);
}

#loading-spinner{
    padding-top: 1rem;
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: center;
}

#loading-spinner::after {
    content: "";
    width: 45px;
    height: 45px;
    border: 15px solid var(--extrawhite);
    border-top-color: rgba(255, 255, 255, 0.121);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

/*#endregion*/

/*#region Wrong Password ---------------------------------------------------------------------- */
#wrong-container {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

#wrong-container p{
    font-size: 20px;
    color: rgb(217, 62, 62);
    align-items: center;
    font-weight: bold;
}
 /*#endregion*/


@keyframes loading {
    from { transform: rotate(0turn) }
    to {transform: rotate(1turn);}
}

@media only screen and (max-width: 1000px) {

    .header {
        font-size: 1.5rem;
    }
    
    .header nav {
        flex: 0 0 100%;
    }

    div.logo {
        display: none;
    }

    #login-page h1#title{
        font-size: 2rem;
        text-align: center;
    }

    .form h2 {
        font-size: 1.75rem;
    }
}