/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Color pallete: 

Denim:#6F8FAF
*/

:root {
    --grey-swars: #2C2B2C;
    --darkgrey-swars: #333;
    --extrawhite: #EDEEE9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--extrawhite);
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: var(--grey-swars);
}

main {
    font-size: 1.5rem;
}

           /* HOME, HEADER AND FOOTER */
                /* HEADER */
                /* LOGO */
.header {
    display: flex;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--extrawhite);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--darkgrey-swars); 
}

.logo {
    width: 9%;
    display: flex;
    justify-content: center;
    margin-right: 8rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.header a img {
    max-width: 100%;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

                        /* MAIN */
                        /* VIDEO HEADER */
#video-header {
    position: relative;
    padding-bottom: 56.25%; /* Proportion 16:9 */
  }

  #video-header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

                        /* SECTIONS HEADER */
                        /* PARENT */
.home-divs {
    margin: 1.5rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

                        /* CHILDREN */
                        /* IMG */
.img-divs {
    width: 50%;
}

.img-divs img {
    width: 100%;
    border-radius: 35px;
}

                        /* TEXTS */
.explication-divs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Transition texts */
.toRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.fromLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.toLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.fromRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.explication-divs button {
    width: 13rem;
    height: 2.5rem;
    background-color: var(--extrawhite);
    color: var(--grey-swars);
    border: 3px solid var(--grey-swars);
    font-size: 1rem;
    border-radius: 16px;
    margin-top: 1rem;
}

.explication-divs button:hover {
    background-color: rgba(var(--extrawhite), 0.61);
    cursor: pointer;
}

.explication-divs h1 {
    margin-bottom: 0.5rem;
}

                        /*FOOTER*/
.footer{
    margin-top: 2rem;
    background-color: var(--darkgrey-swars); 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}