/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Color pallete: 

Tricorn black: #2C2B2C
Extra white: #EDEEE9
Rookwood dark: #492728
Bitter chocolate: #50433f
Denim:#6F8FAF

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EDEEE9;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #2C2B2C;
}

main {
    font-size: 1.5rem;
}

           /* HOME, HEADER AND FOOTER */
                /* HEADER */
                /* LOGO */
.header {
    display: flex;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    margin-top: 1rem;
}

.logo {
    width: 7%;
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.header a img {
    max-width: 100%;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 80%;
    display: flex;
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; /* use all the space*/
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

                        /* MAIN */
                        /* VIDEO HEADER */
#video-header {
    position: relative;
    padding-bottom: 56.25%; /* Proportion 16:9 */
    margin-top: 1rem;
  }

  #video-header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

                        /* SECTIONS HEADER */
                        /* PARENT */
.home-divs {
    margin: 1.5rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

                        /* CHILDREN */
                        /* IMG */
.img-divs {
    width: 50%;
}

.img-divs img {
    width: 100%;
    border-radius: 35px;
}

                        /* TEXTS */
.explication-divs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Transition texts */
.toRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.fromLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.toLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.fromRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.explication-divs button {
    width: 13rem;
    height: 2.5rem;
    background-color: #EDEEE9;
    color: #2C2B2C;
    border: 3px solid #2C2B2C;
    font-size: 1rem;
    border-radius: 16px;
    margin-top: 1rem;
}

.explication-divs button:hover {
    background-color: #edeee99b;
    cursor: pointer;
}

.explication-divs h1 {
    margin-bottom: 0.5rem;
}
 
                        /* SEND YOUR COMMENTS */
.star-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stars{
    background-image: url(../assets/bb-8.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.star-like {
    background-image: url(../assets/bb-8-like.png);
}

                        /* GAME */
                        /*TEXT*/

#title-game,
#choose-category h2,
.choose-difficulty h2 {
    margin: 0.25em auto;
    width: 90%;
}

#game-rules{
    margin: 0.5em auto;
    padding: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
}

#game-rules h1,
#game-rules p {
    margin-top: 1rem;
    text-align: justify;
}

 
                        /* ACCORDION STYLES */
#category-accordion {
    margin: 1.2em auto;
    width: 90%;
}

#category-accordion ul{
    display: flex;
    flex-direction: row; 
    width: 100%; 
    justify-content: center;
    overflow: hidden;
}

#category-accordion li {
    list-style: none;
    height: 20rem;
    width: 15%;
    margin-bottom: 1em;
    padding: 10px;
    border-radius: 10px;   
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    transition: width 1s;
}

#film-category{
    background-image: url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/81A736C2B6CC7B7B4A3F2E2381E36542715DFC550F765F49BC0770898DE5F32B/scale?width=1200&aspectRatio=1.78&format=jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#film-category::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.25); /* Color con 50% de opacidad */
    z-index: 1; /* Asegura que la capa esté encima de la imagen de fondo */
  }

#character-category{
    background-image: url(https://images.bauerhosting.com/legacy/empire-images/features/560ebc7b50e6c513721c309f/Ben%20Kenobi.jpg?ar=16%3A9&fit=crop&crop=top&auto=format&w=undefined&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#character-category::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
  }


#planet-category{
    background-image: url(https://www.denofgeek.com/wp-content/uploads/2021/04/star-wars-bespin-cloud-city.jpg?resize=1024,577);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#planet-category::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}


#specie-category{
    background-image: url(https://www.denofgeek.com/wp-content/uploads/2019/12/Jabba-the-Hutt-in-Star-Wars.jpeg?fit=1200%2C675);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#specie-category::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}

#starship-category{
    background-image: url(https://www.cnet.com/a/img/resize/ff32644af8398591a22d88f8c2e569c7c0d88bb4/hub/2020/01/09/f79a9662-35a4-4676-bbf6-b71a223e0a5c/ship-tie-razor-crest.jpg?auto=webp&fit=crop&height=675&width=1200);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#starship-category::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}


#vehicle-category{
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/Which-Star-Wars-Vehicle-is-Meant-For-You-AT-AT_e1161c77.jpeg?region=56%2C0%2C888%2C500);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#vehicle-category::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}



#category-accordion li label {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

#category-accordion input[type="radio"] {
    display: none;
}

                        /* CHOOSE DIFFICULTY */

#category-difficulty input[type="radio"] {
    display: none;
}

#difficulty-easy {
    background-image: url(https://i.pinimg.com/originals/cc/19/82/cc19825a05d7aca4c4c10e3c4947b509.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#difficulty-easy::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}

#difficulty-medium {
    background-image: url(https://medialab.news/wp-content/uploads/2022/06/anakin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#difficulty-medium::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}

#difficulty-hard {
    background-image: url(https://lafrikileria.com/blog/wp-content/uploads/2023/05/villanos-star-wars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#difficulty-hard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 27, 28, 0.30); 
    z-index: 1; 
}

#category-difficulty {
    margin: 1.2em auto;
    width: 90%;
}

#category-difficulty ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

#category-difficulty li {
    list-style: none;
    height: 20rem;
    width: 30%;
    margin-bottom: 1em;
    padding: 10px;
    border-radius: 10px;   
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#category-difficulty li label {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

                        /* LOG IN / SIGN IN SCREEN */

.forms {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
    border: 1px solid #EDEEE9;
}

.form h1 {
    font-size: 28px;
    font-weight: 600;
    color: #EDEEE9; 
    text-align: center;
}

form {
    margin-top: 30px;
}

form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    color: #2C2B2C;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #6F8FAF;
}

.field input:focus{
    border-bottom-width: 2px;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #6F8FAF;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #EDEEE9;
    background-color: #6F8FAF;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    background-color: #98aabc;
}

.form-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.forms a {
    text-decoration: none;
    color: #6F8FAF;
}

form a:hover {
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #6F8FAF;
}

.line::before{
    color: #6F8FAF;
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    padding: 0 15px;
    font-size: 16px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDEEE9;
    font-size: 16px;
    padding: 6px;
    border-radius: 50px;
    margin-bottom: 10px;
}

a.facebook {
    background-color: #0171d3;
}

a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook-icon {
    position: absolute;
    transform: translateX(-500%);
}

a .google-img {
    height: 20px;
    width: 20px;
    transform: translateX(-325%);
}

a.field.google {
    background-color: #ffff;
    border: 1px solid #CACACA;
}

a.field.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

a .apple-img {
    height: 20px;
    width: 20px;
    transform: translateX(-345%);
}

a.field.apple {
    background-color: #ffff;
    border: 1px solid #ffff;
}

a.field.apple span {
    font-weight: 500;
    color: black;
}

@media screen and (max-width: 800px){
    .forms{
        flex-wrap: wrap;

    }

    .form{
        column-gap: none;
        margin-bottom: 30px;
    }
}