/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Color pallete: 

Tricorn black: #2C2B2C
Extra white: #EDEEE9
Rookwood dark: #492728
Bitter chocolate: #50433f
Denim:#6F8FAF

*/
:root {
    --grey-swars: #2C2B2C;
    --darkgrey-swars: #333;
    --extrawhite: #EDEEE9;
    --yellow-swars: #dcc91d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EDEEE9;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #2C2B2C;
}

main {
    font-size: 1.5rem;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--extrawhite);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--darkgrey-swars); 
}

.logo {
    margin-top: 0.5rem;
}

.logo a {
    display: block;
    text-align: center;

}

.header a img {
    max-width: 50%;
    max-height: 100px;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-self: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

.header li a:hover {
    color: var(--yellow-swars);
    font-size: 1.80rem;
}

                        /*FOOTER*/
.footer{
    margin-top: 2rem;
    background-color: #333; 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}
 

                        /* SEND YOUR COMMENTS */
#suggest-page h1 {
    padding: 1rem;
}

#suggest-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggest-page h1{
    margin-top: 1rem;
}

form#suggests{
    width: 100%;
}

#questions-suggest{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#questions-suggest textarea{
    padding: 0.25rem;
    color: black;
    font-size: 1rem;
}

#suggest-page form fieldset {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem 0 2rem;
    padding: 3rem;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
    color: black;
}

#suggest-form {
    background-color: #EDEEE9;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 10%;
}

#suggest-form:hover {
    background-color: #edeee9c4;
}


.star-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.star{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.empty-star{
    background-image: url(../assets/bb-8.png);
}

.star-like {
    background-image: url(../assets/bb-8-like.png);

}

/* THANKS*/
#thanks {
    display: flex;
    justify-content: center
}

div#form-posted {
    padding: 2rem;
    background-image: url(https://blenderartists.org/uploads/default/original/4X/d/c/d/dcd803409d8caf0a0d4a4d805f5012bb1cdbf973.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    width: 70%;
    height: 30rem;
}

@media only screen and (max-width: 1000px) {

    .header {
        font-size: 1.5rem;
    }
    
    .header nav {
        flex: 0 0 100%;
    }

    div.logo {
        display: none;
    }

    #suggest-page form fieldset {
        flex-direction: column;
        align-items: center;
    }

    #suggest-form {
        width: 50%;
    }
}

@media only screen and (max-width: 1300px) {  
    form fieldset img {
        display: none;
    }

    button#suggest-form {
        width: 20%;
    }
}