/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --grey-swars: #2C2B2C;
    --darkgrey-swars: #333;
    --extrawhite: #EDEEE9;
    --yellow-swars: #dcc91d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EDEEE9;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #2C2B2C;
}

main {
    font-size: 1.5rem;
}

/*#region Header ------------------------------------------------------------------------------- */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: bolder;
    color: var(--extrawhite);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--darkgrey-swars); 
}

.logo {
    margin-top: 0.5rem;
}

.logo a {
    display: block;
    text-align: center;

}

.header a img {
    max-width: 50%;
    max-height: 100px;
}

                /* NAV */
                /* PARENT */
.header nav {
    flex: 0 0 75%;
    display: flex;
    align-self: center; 
    justify-content: center; 
}

                /* CHILDREN */
.header ul {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    padding: 0;
    margin: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
} 

.header li a:hover {
    color: var(--yellow-swars);
    font-size: 1.80rem;
}

/*#endregion */


/*#region Footer--------------------------------------------------------------------------------*/
.footer{
    margin-top: 2rem;
    background-color: #333; 
    padding: 10px;
    text-align: center;
    font-size: 14px; 
}

/*#endregion*/
 

/*#region Form--------------------------------------------------------------------------------------*/
#suggest-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggest-page h1 {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
}

form#suggests{
    display: flex;
    justify-content: center;
    
}

#questions-suggest{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#questions-suggest div {
    margin-bottom: 0.75rem;
    align-self: center;
}

#questions-suggest label {
    font-weight: 500;
    background-color: black;
}

#questions-suggest textarea{
    padding: 0.25rem;
    color: black;
    font-size: 1rem;
    width: 700px;
    height: 200px;
}

#suggest-page form fieldset {
    height: 750px;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
    padding: 3rem;
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3);
    background-size: cover;
}

button#suggest-form {
    background-color: #EDEEE9;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 90px;
}

button#suggest-form:hover {
    background-color: var(--yellow-swars);
}

img {
   margin-left: 1rem;
}

/*#endregion*/

/*#region Puntation --------------------------------------------------------------------------------*/
.star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    gap: 20px;
}

.star{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 5px;
}

.empty-star{
    background-image: url(../assets/bb-8.png);
}

.star-like {
    background-image: url(../assets/bb-8-like.png);

}

/*#endregion*/

/*#region End message ------------------------------------------------------------------------------*/
#thanks {
    display: flex;
    justify-content: center
}

div#form-posted {
    padding: 2rem;
    background-image: url(https://blenderartists.org/uploads/default/original/4X/d/c/d/dcd803409d8caf0a0d4a4d805f5012bb1cdbf973.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    width: 70%;
    height: 30rem;
}

/*#endregion*/

@media only screen and (max-width: 1000px) {

    .header {
        font-size: 1.5rem;
    }
    
    .header nav {
        flex: 0 0 100%;
    }

    div.logo {
        display: none;
    }

    #suggest-page form fieldset {
        flex-direction: column;
        align-items: center;
    }

    #suggest-form {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    #questions-suggest textarea {
        width: 400px;
        height: 200px;
    }
}

@media only screen and (max-width: 1300px) {  
    form fieldset img {
        display: none;
    }

    button#suggest-form {
        width: 20%;
    }
}